@{
    this.ViewData["Title"] = "Welcome";
}

        <header class="masthead bg-info text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0">Artity</h1>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>


                <p class="masthead-subheading font-weight-light ">Add your finished products or find the best artist for your event!</p>
                <div class="row">
                    <div class="text-center mt-4 mr-3">
                        <a class="btn btn-xl btn-outline-light" href="/Identity/Account/Register">
                            <i class="far fa-registered mr-2"></i>
                            Join us!
                        </a>
                    </div>
                    <div class="text-center mt-4">
                        <a class="btn btn-xl btn-outline-light" href="href="..."">
                            <i class="far fa-registered mr-2"></i>
                            Find an artist!
                        </a>
                    </div>
                </div>
            </div>
        </header>
