@{
    this.ViewData["Title"] = "Welcome";
}

<header class="masthead bg-info text-white text-center mb-4 mt-2">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Artity</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-theater-masks"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>


        <p class="masthead-subheading font-weight-light px-2 ">Add your finished products or find the best artist for your event!</p>

    </div>
    <div class="row container mx-auto justify-content-md-center">
        <div class="col-md-6     mb-2">
            <a class="btn btn-xl btn-outline-light" href="/Identity/Account/Register">
                
                <i class="fas fa-sign-in-alt"></i> Join us!
            </a>
        </div>
        <div class=" col-md-6">
            <a class="btn btn-xl btn-outline-light" href="href="/Artist/All">
                
                <i class="fas fa-search"></i> Find artist!
            </a>
        </div>
    </div>
</header>
