
@model IEnumerable<string>


<div class="justify-content-between  row">

    <div class="col-xs-4 ">
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Filter</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#contains">Contains</a></li>
                    <li><a href="#its_equal">It's equal</a></li>
                    <li><a href="#greather_than">Greather than ></a></li>
                    <li><a href="#less_than">Less than < </a></li>
                    <li class="divider"></li>
                    <li><a href="#all">Anything</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" name="x" placeholder="Search term...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>



    <div class=" col-2 dropdown  pull-right ">
        <button class="btn btn-dark dropdown-toggle " type="button" data-toggle="dropdown">
            Category
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            @foreach (var category in Model)
            {
                <li><a class="dropdown-item" href="/Artist/All/@((int)Enum.Parse(typeof(Artity.Data.Models.Enums.CategoryType), category))">@category</a></li>
            }
        </ul>
    </div>
</div>