<nav class="navbar navbar-expand-lg bg-dark text-uppercase fixed-top " id="mainNav">
    <a class="navbar-brand js-scroll-trigger mx-1" asp-action="Index" asp-area="" asp-controller="Home">
        <img height="55px" width="150px" src="~/img/logo.png" alt="artity-logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-info text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Artist" asp-action="All">Artists <i class="fas fa-paint-brush pr-2"></i></a>
            </li>

            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Performence" asp-action="All"> Performences <i class="fas fa-users pr-2"></i></a>
            </li>
        </ul>

        <partial name="_LoginPartial" />
    </div>
</nav>