@model Artity.Web.ViewModels.Performence.PerformenceCreateInputModel
@{
    ViewData["Title"] = "Create performence";
}

<div class="mx-auto pb-2 text-center">
    <h1>@ViewData["Title"]</h1>
    <h4>share your products</h4>
    <hr />
</div>

<form enctype="multipart/form-data" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="md-form ">
                    <div class="file-field">
                        <div class="z-depth-1-half mb-4" id="image-preview" heigt="100px" width="100px">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" id="previewPic" class="img-thumbnail"
                                 alt="example placeholder">
                        </div>
                        <label class="w-100 h-50" for="image-upload" id="image-label">Choose File</label>
                        <div class="d-flex justify-content-center">
                            <div for="image-upload" id="image-label">
                                <input onchange="loadFile(event)" type="file"
                                       class="btn btn-rounded float-left"
                                       id="picture"
                                       placeholder="Picture..."
                                       asp-for="PerformencePhoto">
                                <span asp-validation-for="PerformencePhoto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div asp-validation-summary="All" class="rotext-danger text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" type="number" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </div>
</form>



@section Scripts {

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.uploadPreview.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.uploadPreview.min.js" asp-append-version="true"></script>

    <script>
        var loadFile = function (event) {
            var img = document.getElementById('previewPic');
            img.onload = function () {
                if (img.height > img.width) {
                    img.height = '100%';
                    img.width = '100%';
                }
            };
            img.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
}
