@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="mx-auto pb-2 text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="col-md-12 col-lg-6 mx-lg-auto" >
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="All" class="rotext-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Input.City">City</label>
                <input asp-for="Input.City" type="text" class="form-control" id="inputCity">
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Account type</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>User</option>
                    <option>Artist</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="PhoneNumber">Phone Number</label>
                <input type="tel" class="form-control" id="PhoneNumber">
            </div>
        </div>
        <div class="form-group">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Приемам <a class="link" href="licens.html">правилата и условията</a> на ArtistSearcher.</label>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input " id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck1 ">Приемам <a class="link" href="gpr.html">политиката за поверителност на лични данни</a> на ArtistSearcher.</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>

    </form>
   
</div>
