@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="mx-auto pb-2 text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="col-md-12 col-lg-6 mx-lg-auto">
    <form asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post">
        <h4 class="text-center  ">create a new account</h4>
        <hr />
        <div asp-validation-summary="All" class="rotext-danger text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Input.City">City</label>
                <input asp-for="Input.City" type="text" class="form-control" id="inputCity">
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Input.AccountType">Account type</label>
                <select asp-for="Input.AccountType" class="form-control">
                    <option selected disabled>Choose...</option>
                    <option>User</option>
                    <option>Artist</option>
                </select>
                <span asp-validation-for="Input.AccountType" class="text-danger"></span>

            </div>
            <div class="form-group col-md-4">
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <input asp-for="Input.PhoneNumber" type="tel" class="form-control" id="PhoneNumber">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group ">
            <div>
                <label asp-for="Input.ProfilePicture" >Picture</label>
            </div>
            <input type="file"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Picture..."
                   asp-for="Input.ProfilePicture">
            <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
        </div>
</div>
        <div class="form-group">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Приемам <a class="link" href="licens.html">правилата и условията</a> на ArtistSearcher.</label>
                <div class="form-group">
                    <input asp-for="Input.License" type="checkbox" class="form-check-input " value="true" id="License">
                    <span asp-validation-for="Input.License" class="text-danger"></span>
                    <label asp-for="Input.License2" value="true" class="form-check-label">Приемам <a class="link" href="gpr.html">политиката за поверителност на лични данни</a> на ArtistSearcher.</label>
                    <span asp-validation-for="Input.License2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>

    </form>

</div>
